*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

header{
    display: flex;
    grid-template-columns: 10%;
    background-color:rgb(223,0,0);
    height: 94px;
    gap:15px;
    padding-left: 60px;
    padding-top: 10px;
}


#barraCategorias{
    width: 200px;
    margin: 10px;
    height: 65px;
    text-align: center;
    padding: -2px -2px -2px -2px;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    border-radius: 10px;
    border-style:groove;
}

.imgMenu{
    width: 15px;
}

#imgInfo{
    width: 10px;
}

#imgEstrella{
    width: 10px;
}

.contenedorLogo{
    display: flex;
    flex-direction: column;
    
}

.imgLogo{
    width:250px;
}

.Central{
    padding-left: 80px;
    padding-right: 50px;
}

#imgCentral{
    border-radius: 10px;
}

#imgPromociones{
    width: 180px;
    border-radius: 20px;
}

.contenedorProductos{
    display: grid;
    border-style: groove;
    color: #3A3A3A;
    border-radius: 20px;
    height: 450px;    
    padding-top: 20px;
}
 
/*
section div{
    gap: 2px;
}*/


#imgMarcas{
    width:100px;
}

#imgServicios{
    width: 130px;
}

.contenedorCategorias{
    padding: 80px;
}

.infoCategorias{
    color: #3A3A3A;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.89rem;
    padding-left: 60px;
    padding: 12px 0px;
}

#imgCategoria{
    width: 180px;
    border-radius: 15px;
}

p{
    color: #FFFFFF;

    font-family: 'Noto Sans Display', sans-serif;
    font-size: 0.8rem;
}


.barraSuperior{
    color: white;
    text-decoration: none;
    font-size: 1.35rem;
    font-weight: 500;
    width: 100%;
    height: 10px;
    gap:20px;
}

.barraInferior{
    display: flex;
    justify-content: center;
    background-color: black;
    height: 43px;
    gap: 280px;
}

h2{
    padding: 80px;
    display: flex;
    font-family: 'Noto Sans Display', sans-serif;;
    font-weight: 10px;
}

section{
    width: 100%;
    height: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color:#FFFFFF;
    flex-direction: column;
    align-items: center;
    /*padding-top: 15px;*/
    gap: 10px;
}

#imgCap{
    width: 649px;
    border-radius: 20px;
}

.contenedorDoble{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 90px;
    width: 650px;
    height: 500px;
    border-style: groove;
    border-radius: 20px;
}

#fechaOferta{
    color: #3A3A3A;
    font-size: 13px;
}

#letraRoja{
    color: rgb(223,0,0);
    font-size: 20px;
}

#letraGris{
    color: #3A3A3A;
    font-size: 13px;
}

.contenedorOferta{
    color: #3A3A3A;
    
}

#OfertasdelDia{
    /* padding-left: 670px;*/
    width: 600px;
    margin-left: 790px;
}


.hora{
    background-color: rgb(223,0,0);
    height: 410px;
}

#horario{
    color: #ffffff;
    font-size: 1.5rem;
}

#ofertazas{
    font-size: 1rem;
}


input{
    background-color: #ffffff;
    font-size: 1rem;
    font-weight: 100;
    padding-left: 60px;
    border: none;
    width: 500px;
    height: 45px;
    color: white;
    border-radius: 10px;
    border: 1px #ffffff solid;
    outline: none;
} 

nav{
    padding-right: 20px;
}



#anclaLupa{
    display: grid;
    place-items: center;
    width: 50px;
    height: 40px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px #ffffff solid;
}

#lupa{
    width: 25px;
}


.barraTienda{
    display: grid;
    padding-top: 20px;
}


.Usuario{
    display: grid;
    align-items: center;
    border-radius: 40px;
    place-items: center;
    width: 45px;
    height: 45px;
    background-color: rgb(255, 255, 255); 
    
}

.Tienda{
    display: grid;
    align-items: center;
    border-radius: 40px;
    place-items: center;
    width: 45px;
    height: 45px;
    background-color: rgb(255, 255, 255);
}

#imgCarrito{
    width: 18px;
}

#imgUsuario{
    width: 15px;
}

#iconos{
    padding-left: 20px;
    padding-top: 20px;
    display: flex;
    gap: 20px;
    
}


.descripcionProducto{
    color: black;
}


.precioViejo{
    color:#000000;
}

.precioActual{
    color: red;
}

.iva{
    color: #000000;
}


.cuestaAbajo{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 0.9rem;
    border-style:groove;
    width: 120px;
    height: 40px;
    padding: 5px;
    padding-right: 3px;
    background-color: #ffffff;
    border-radius: 45px;
    
}

.Promociones{
    color: #3A3A3A;
}

.servicios{
    color: #3A3A3A;
    text-align: center;
}

.Marcas{
    display: grid;
    align-items: center;
    width: 130px;
    height: 60px;
    border-style: groove;
    border-radius: 20px;
    padding-left: 10px;
    
}

#imgXiamoi{
    width: 55px;
}

#imgHP{
    width: 50px;
}

#imgSamsung{
    width: 110px;
}

.contenedorTriple{
    margin: 10px;
    display: grid;
    border-style: groove;
    color: #3A3A3A;
    border-radius: 20px;
    height: 500px;    

    width: 405px;
    gap: 30px;
    
}

#imgContenedorTriple{
    width: 400px;
    border-radius: 20px 20px 0px 0px;
}

.MetodosdePago{
    display: flex;
    justify-content: space-between;
    grid-template-columns: 10%;
    align-items: center;
}

.GrisOscuro{
    background-color: #3A3A3A;
    color: #B3B3B3;
    padding-left: 80px;
}

.GrisClaro{
    height: 10px;
    padding: 70px;
    background-color:#E3E3E3;
}

.link{
    display: flex;
    gap: 20px;
    height: 43px;
}

section p{
    color: #000000;
    margin: 10px;
}

h3{
 font-family: 'Noto Sans Display', sans-serif;;
    color: #000000;
}

.Gris2{
    padding-top: 20-x;
    color: #000000;
    height: 500px;
    background-color:#E3E3E3;
    text-align:left;

}

.MetodosdePago{
background-color: #E3E3E3;
}

#imgMetodosPago{
    width: 50px;
}

#iconosfooter{
    width: 80px;
}